body {
    margin: 0;
}

main {
    width: 100%;
    background-color: rgb(202, 104, 251);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div1 {
    color: rgb(53, 94, 53);
    width: 65%;
    margin-left: 20px;
    margin-bottom: 25px;
}

#div2 {
    background-color: rgb(113, 197, 29);
    padding: 20px;
    border-radius: 25px;
    color: rgb(202, 104, 251);
    margin: 30px 60px 30px 60px;
    padding: 20px 50px 20px 50px;
}

li {
    list-style-type: none;
}